{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">    
    </head>
    <body>
        <h1>Odds and Ends Market</h1>
        <div id="sign_in_status">
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Active Listings <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/category/HOME">Home</a>
                      <a class="dropdown-item" href="/category/CARS">Cars</a>
                      <a class="dropdown-item" href="/category/TOYS">Toys</a>
                      <a class="dropdown-item" href="/category/ELECTRONICS">Electronics</a>
                      <a class="dropdown-item" href="/category/FURNITURE">Furniture</a>
                      <a class="dropdown-item" href="/category/OTHERS">Others</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'listing_new' %}">List an item</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
              </ul>
              <form class="form-inline my-2 my-lg-0"  method="POST" action="{% url 'search'%}">
                {% csrf_token %}
                <input type='text' name="term">
                <input type ='submit' value='Search'>
              </form>
            </div>
          </nav>
        <hr>
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
        {% block body %}
        {% endblock %}
    </body>
</html>
